{varType App\Data\Island\IslandEntity $island}
{block content}
<div class="container">
<ul>
    {foreach $islands as $island}
    <li><a href="{link :Game:Homepage:detail $island->getCode()}">[{$island->getCode()}] {$island->getName()}</a></li>
    {/foreach}
</ul>
</div>
{/block}
