{varType App\Data\Island\IslandEntity $island}
{block content}
<div class="container">
<ul>
    {foreach $islands as $island}
    <li><a href="{link :Game:Game:default $island->getCode()}">{$island->getTitle()}</a></li>
    {/foreach}
</ul>
</div>
{/block}
