<!DOCTYPE html>
<html lang="{_main.langCodeShort}" data-bs-theme="light" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>{$webTitle}{ifset title} - {include title|stripHtml}{/ifset}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="index, follow">
    </head>
    <body>
    tba
    {block content}{/block}
    </body>
</html>
