application:
	errorPresenter: Error
	catchExceptions: false
	mapping:
		*: App\Presentation\*Module\Presenters\*Presenter

extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

translation:
	locales:
		whitelist: [cs, en]
		default: cs
		fallback: [cs]
	dirs:
		- %appDir%/Lang
	returnOriginalMessage: true

services:
	router: App\Services\RouterService::createRouter(%application.prefix%)
	- App\Services\CacheService(%tempDir%, %cacheEnabled%)

parameters:
	applicationEnv: "dev"
	databaseConnection:
		driver: 'pgsql'
		host: ''
		dbname: ''
		user: ''
		password: ''
	cacheEnabled: false
	application:
		name: "DevCityBuildingGame"
		developer: "Dominik Procházka"
		developer_url: "https://Domm.cz"
		version: "1.0.0"
		prefix: "" # "prod.srv."

search:
	services:
		in: %appDir%/Services
		classes:
			- *Service
	commands:
		in: %appDir%/Presentation/Commands
		classes:
			- *Command
	data_managers:
		in: %appDir%/Data
		exclude:
			classes:
				- App\Data\BasicManager
		classes:
			- *Manager
	data_repository:
		in: %appDir%/Data
		exclude:
			classes:
				- App\Data\BasicRepository
		classes:
			- *Repository

session:
	autoStart: always
	name: game-%applicationEnv%
	expiration: 14 days
	cookieSamesite: Lax

http:
	frames: true
	cookieSecure: false

routing:
	cache: true

php:
	date.timezone: Europe/Prague
	upload_max_filesize: '20MB'
	post_max_size: '20MB'
	memory_limit: 8196M
	max_execution_time: 3600
	set_time_limit: 3600
	default_socket_timeout: 50000

migrations:
	dir: %appDir%/../resources/migrations
	driver: pgsql
	dbal: nette
	withDummyData: %debugMode%
	groups:
		structures:
			enabled: true
			directory: %appDir%/../resources/migrations/structures
		basic-data:
			enabled: true
			directory: %appDir%/../resources/migrations/basic-data
			dependencies: ['structures']
		dummy-data:
			enabled: %debugMode%
			directory: %appDir%/../resources/migrations/dummy-data
			dependencies: ['structures', 'basic-data']
		dev:
			enabled: %debugMode%
			directory: %appDir%/../resources/migrations/dev
			dependencies: ['structures', 'basic-data']
		versions:
			enabled: true
			directory: %appDir%/../resources/migrations/versions
			dependencies: ['structures', 'basic-data']

database:
	main:
		dsn: 'pgsql:host=%databaseConnection.host%;dbname=%databaseConnection.dbname%'
		user: %databaseConnection.user%
		password: %databaseConnection.password%

