parameters:
	applicationEnv: "dev"
	smtp:
		smtp: true
		host: 'cool.smtp.com'
		username: 'my@email.com'
		password: 'topsecretpass'
		secure: 'ssl'
	databaseConnection:
		host: 'db'
		dbname: 'xyz'
		user: 'not_root'
		password: 'qwerty'
	redisConnection:
		host: 'redis'
		password: 'redispwd'
